* {
    box-sizing:border-box;
}

body{
    margin: 0;
    padding: 7px;
    font-family: sans-serif;
    background: #204862;
}






  



.titulo-contenedor{
    background: red;
    margin: auto;
    width: 100%;
    max-width: 800px;
    color:#fff;
    padding: 7px;
    text-align: center;
    font-weight: 100px;
    font-size: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid black;
}

.label-indicadores{
    font-size: 16px;
}

.label-moneda{
    padding-left: 10px;
}

nav{
    text-align: center;
}


.boton-nosel{
	background:#0F80FF;
	color: #fff;
	padding: 6px 8px;
	display: inline-block;
	text-decoration: none;
	width: 100px;
    text-align: center;
    border-radius: 7px;
}
.boton-nosel:hover{
	background:red;
    text-decoration: none;
    color:white;
}

/* .boton-nosel:active{
	transform:escale(0.5);
	width: 50px;
	height: 35px;
} */

.boton-sel:hover{
	text-decoration: none;
	color:white;
}



.boton-sel{
	background:red;
	color: #fff;
	padding: 6px 8px;
	display: inline-block;
	text-decoration: none;
    text-align: center;
	width: 100px;
    border-radius: 7px;
}

/*.boton-sel:active{
	background:red;
    text-decoration: none;
    color:white;
}*/

.hr {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    width: 100%;
}



.tituloForm{
    border-top:  1px;
    padding-top: 1px;
}


    
}

.form-calculadora{
    width: 100%;
    margin: auto;
    background: white;
    border-radius: 7px;
    padding-top: 0px;
}

.contenedor-calculadora{
    width: 100%;
    max-width: 800px;
    margin: auto;
    background: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;    
}




.form-titulo{
    background: red;
    width: 90%;
    color:#fff;
    padding: 7px;
    text-align: center;
    font-weight: 100px;
    font-size: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid black;
}

/*
.form-contenedor-input{
    padding: 10px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.form-label{
    width: 100%;
}

.form-texto{
    padding: 10px 10px;

}

.form-input{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}

.btn-intercambio{
    width: 50px;
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 7px;

    
}

.btn-intercambio:hover{
	background:red;
    border-radius: 7px;
    cursor: pointer;
}


footer{
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-size: 12px;
    padding: 2px;
    color:white;
}

.footer-visitas{
    float: left;
    text-align: left;
    font-size: 12px;
    padding-left: 20px;
    color:white;
}


.footer-derechos{
    float: right;
    text-align: right;
    font-size: 12px;
    padding-right: 20px;
    color:white;
}







@media screen and (max-width:720px){
    
    
.label-indicadores{
    font-size: 12px;
    align-content: center:
}
    
.label-moneda{ 
    font-size: 10px;
}
    
    
.titulo-contenedor{
    font-size: 16px;
}    

    .form-label{
        width: 80%;
    }   

    .nav-label{
        font-size:14px;
        width: 30%;
        float:left;
    }

    .nav-botones{
        width: 70%;
        float: right;

    }  

    .boton-nosel{
        width: 60px;
    }

    .boton-sel{
        width: 60px;
    }

}


